.fluid_player_layout_in-renderer-js {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .ad_countdown {
    display: none;
  }

  video {
    position: absolute;
    width: 100% !important;
    height: 100% !important;
  }

  .fluid_player_skip_offset {
    pointer-events: auto !important;
  }

  .fluid_context_menu {
    display: none !important;
  }

  .fluid_controls_container,
  .fluid_button.fluid_button_volume, 
  .fluid_button.fluid_button_mute, 
  .fluid_ad_playing, 
  .ad_end_card, 
  .ad_replay, 
  .ad_replay_icon {
    display: none;
  }

  .vast_clickthrough_layer {
    z-index: 11;
  }

  @media (max-width: 500px) {
    .vast_clickthrough_layer {
      height: 50px !important;
    }
  }
}

.full-click-area {
  .fluid_player_layout_in-renderer-js {

    @media (max-width: 500px) {
      .vast_clickthrough_layer {
        height: 100% !important;
      }
    }

  }
}
